<% if @header.present? %>
    <div class="page-header">
      <h1><%= @header %> [ <small class="blur-text"><%= @user.name %></small> ] </h1>
    </div>
<% end %>


<div class="row users-list-wrapper">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li class="row user">
        <%= link_to(user_path(user)) do %>
          <div class="col-xs-8 col-md-8">
            <div class="user-picture">
              <%= image_tag(user.profile_picture) %>
            </div>
            <div class="user-details">
              <%= user.name.titleize %>
            </div>
          </div>
        <% end %>

        <div class="col-xs-2 col-md-2">
          <% if current_user != user %>
              <div class="row follow">
                <% if current_user.follows?(user) %>
                    <%= link_to("#", class: "btn btn-xs btn-danger", id: "un-follow", "data-link" => user_unfollow_path(user), onclick: "javascript:unfollow(event, this)") do %>
                      <span class="glyphicon glyphicon-minus"></span> un-follow
                    <% end %>

                    <%= link_to("#", class: "btn btn-xs btn-success hidden", id: "follow", "data-link" => user_follow_path(user), onclick: "javascript:follow(event, this)") do %>
                      <span class="glyphicon glyphicon-plus"></span> follow
                    <% end %>
                <% else %>
                <%= link_to("#", class: "btn btn-xs btn-danger hidden", id: "un-follow", "data-link" => user_unfollow_path(user), onclick: "javascript:unfollow(event, this)") do %>
                  <span class="glyphicon glyphicon-minus"></span> un-follow
                <% end %>
                    <%= link_to("#", class: "btn btn-xs btn-success", id: "follow", "data-link" => user_follow_path(user), onclick: "javascript:follow(event, this)") do %>
                      <span class="glyphicon glyphicon-plus"></span> follow
                    <% end %>
                <% end %>

              </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
