<div class="page-header row">
  <div class="col-xs-12 col-md-10 no-padding">
    <h2>
    <% if controller_name == "home" %>
        Recent
    <% end %>
    Posts
    <% if @context.present? %>
        <span class="blur-text"> - <%= @context %> </span>
    <% end %>
    </h2>
  </div>
  <div class="col-xs-12 col-md-2 text-right no-padding">
    <%= link_to("Create Post", new_user_post_path(current_user), :class => "btn btn-danger") if current_user %>
  </div>
</div>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to(post_path(post)) do %>
      <div class="card">
        <% if post.cover_picture? %>
          <div class="row">
            <div class="card-image col-md-4 col-xs-12">
              <%= image_tag post.cover_picture.url(:thumb) %>
            </div>
            <div class="card-body col-md-8 col-xs-12">
              <div class="card-title"><%= post.title %></div>
              <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
              <p class="card-text"><%= truncate(strip_tags(markdown.render(post.body)), length: 300) %></p>
              <div class="card-tags">
                <% post.tags.split(',').each do |tag| %>
                  <span class="label label-default"><%= tag %></span>
                <% end %>
              </div>
              <br>
              <div class="card-actions row blur-text">
                    <div class="col-xs-5 col-md-6 text-left blur-text">
                      Created on <%= post.created_at.strftime("%d %b %Y") %> by <%= link_to(post.user.name, user_path(post.user), :class => "text-underlined") %>
                    </div>
                    <div class="col-xs-7 col-md-6">
                      <% if user_signed_in? and current_user == @user %>
                        <% if post.published? %>
                          <span class="is_published label label-success">Published</span>
                        <% else %>
                          <span class="is_published label label-danger">Un-published</span>
                        <% end %>
                      <% end %>
                      <%= post.likers(User).count %> likes | <%= post.comments.count %> comments
                    </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="card-body">
            <div class="card-title"><%= post.title %></div>
            <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
            <p class="card-text"><%= truncate(strip_tags(markdown.render(post.body)), length: 300) %></p>
            <div class="card-tags">
              <% post.tags.split(',').each do |tag| %>
                <span class="label label-default"><%= tag %></span>
              <% end %>
            </div>
            <br>
            <div class="card-actions">
              <div class="action">
                <div class="activity-time blur-text">
                  <% if user_signed_in? and current_user == @user %>
                    <% if post.published? %>
                      <span class="is_published label label-success">Published</span>
                    <% else %>
                      <span class="is_published label label-danger">Un-published</span>
                    <% end %>

                  <% else %>

                  <% end %>
                  <div class="pull-left">created <%= time_ago_in_words(post.created_at) %> ago</div>
                  <%= post.likers(User).count %> likes | <%= post.comments.count %> comments
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  <% end %>
  <% if @posts.any? %>
    <div class="flickr_pagination">
      <%= will_paginate @posts %>
    </div>
  <% end %>

<% else %>
  <h4 class="text-center blur-text">Whoops! Looks like there is nothing here.</h4>
<% end %>


