<div class="page-header">
  <h2>
  <% if controller_name == "home" %>
      Recent
  <% end %>
  Posts
  <% if @context.present? %>
      <span class="blur-text"> - <%= @context %> </span>
  <% end %>
  </h2>
  <%= link_to("Create Post", new_user_post_path(current_user), :class => "btn btn-danger") %>
</div>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to(post_path(post)) do %>
      <div class="card">
        <% if post.cover_picture? %>
          <div class="row">
            <div class="card-image col-md-4 col-xs-12">
              <%= image_tag post.cover_picture.url(:thumb) %>
            </div>
            <div class="card-body col-md-8 col-xs-12">
              <div class="card-title"><%= post.title %></div>
              <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
              <p class="card-text"><%= truncate(strip_tags(markdown.render(post.body)), length: 300) %></p>
              <div class="card-tags">
                <% post.tags.split(',').each do |tag| %>
                  <span class="label label-default"><%= tag %></span>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="card-body">
            <div class="card-title"><%= post.title %></div>
            <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
            <p class="card-text"><%= truncate(strip_tags(markdown.render(post.body)), length: 300) %></p>
            <div class="card-tags">
              <% post.tags.split(',').each do |tag| %>
                <span class="label label-default"><%= tag %></span>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="card-actions">
          <div class="action">
            <div class="activity-time blur-text"> <%= post.likers(User).count %> likes | <%= post.comments.count %> comments | created <%= time_ago_in_words(post.created_at) %> ago</div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h4 class="text-center blur-text">Whoops! Looks like there is nothing here.</h4>
<% end %>


