<div class="page-header">
  <h2>My Posts</h2>
  <%= link_to("Create Post", new_user_post_path(current_user), :class => "btn btn-danger") %>
</div>

<% @posts.each do |post| %>
<div class="card">
  <div class="card-body" style="background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), url(<%= post.cover_picture %>) no-repeat center; background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;">
    <div class="card-title"><%= post.title %></div>
    <% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
    <p class="card-text"><%= truncate(strip_tags(markdown.render(post.body)), length: 300) %></p>
    <div class="card-tags">
      <% post.tags.split(',').each do |tag| %>
        <span class="label label-default"><%= tag %></span>
      <% end %>
    </div>
  </div>
  <div class="card-actions">
    <div class="action">
      <%= link_to("View Post", user_post_path(post.user, post) , class: "btn btn-primary") %>
      <%= link_to("Edit Post", edit_user_post_path(post.user, post) , class: "btn btn-primary") %>
      <%= link_to("Delete Post", user_post_path(post.user, post), :method => "delete", class: "btn btn-primary") %>
    </div>
  </div>
</div>
<% end %>

